{% extends 'listPage.html.twig' %}

{% block list %}
<div
        class="body-list-detail">

    <h2
            class="body-list-title title-list-detail">{{ tasks.name }}</h2>
    <div
    class="list-progression">{{ progression }}% accompli</div>
    <ul
            class="body-list-ul">
        {% for task in tasks.tasks %}
            <li
                    class="main-list-li">
                {{ task.name }} ({{ task.status }})
                <a href="{{ path('taskRemove', {'id': task.id}) }}">
                    <img
                            src="{{ asset('/picture/deleteIcon.PNG') }}"
                            alt="Supprimer"
                            class="icon">
                </a>
                <a href="{{ path('taskEdit', {'id': task.id}) }}">
                    <img
                            src="{{ asset('/picture/updateIcon.PNG') }}"
                            alt="Modifier"
                            class="icon">
                </a>
            </li>
        {% endfor %}
    </ul>
    <section
            class="body-list-form2">
        {{ form_start(taskForm) }}
        {{ form_row(taskForm.name) }}
        {{ form_row(taskForm.status) }}

        <button type="submit"
                class="list-task-button"
                >Nouvelle tache</button>
        {{ form_end(taskForm) }}
    </section>

</div>






{% endblock %}