{% extends 'base.html.twig' %}

{% block body %}

    <main
    class="listpage-main-menu">

        <div
        class="main-list-display">
            <h1
            class="body-list-title title-list">Vos listes</h1>
                <ul
                class="body-list-ul">
                    {% for list in lists %}
                    <li
                    class="main-list-li">
                        <a href="{{ path('ListDetail', {'id': list.id}) }}"
                            class="body-list-a">{{ list.name }}</a>
                        <a href="{{ path('listRemove', {'id': list.id}) }}"
                            class="body-list-a">
                            <img
                                    src="{{ asset('/picture/deleteIcon.PNG') }}"
                                    alt="Supprimer"
                                    class="icon">
                        </a>
                        <a href="{{ path('listEdition', {'id': list.id}) }}">
                            <img
                                    src="{{ asset('/picture/updateIcon.PNG') }}"
                                    alt="Modifier"
                                    class="icon"
                            ></a>
                    </li>
                    {% endfor %}
                </ul>
            <section
            class="body-list-form">
                {{ form_start(listForm) }}
                {{ form_row(listForm.name) }}
                <button type="submit">Nouvelle liste</button>
                {{ form_end(listForm) }}
            </section>


        </div>


            {% block list %}
            {% endblock %}


    </main>



{% endblock %}